body {
    padding-top: 120px;
}

#sidebar .list-group, #sidebar .list-group-item {
    background-color: transparent;
}

/* for list-groups nested within a list-group-item, reset the bottom margin */
.list-group-item > .list-group {
    margin-bottom: 0px;
}

/* for list-group-items nested within a list-group-item, reset the bottom
   padding of the last item, b/c the containing item has paddimg already 
 */
.list-group-item .list-group-item:last-child {
    padding-bottom: 0px;
}

.list-group-item {
    border: none;
}

/* Tag cloud */
.tag-1 {font-size: 18pt;}
.tag-2 {font-size: 16pt;}
.tag-3 {font-size: 14pt;}
.tag-4 {font-size: 12pt;}
.tag-5 {font-size: 10pt;}
.tag-6 {font-size: 8pt;}

#sidebar-content {
    padding: 0px 10px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#sidebar a {
    color: inherit;
}

#sidebar-content .icon-label {
    margin-right: 10px;
}

/* Example for how to control spacing between icon and label in specific
   lists in the sidebar. To change, override in your CUSTOM_CSS           */
#sidebar #social i {
    margin-right: 3px;
}

a, a:hover {
    color: inherit;
}

.entry-content a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.entry-content a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

.figure {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: block;
    margin-bottom: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.figure p.caption {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 120%;
    text-align: center;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.figure div.legend {
    padding: 0px 4px;
    font-style: italic;
    text-align: justify;
}

.figure.align-right {
    float: right;
    margin-top: 0em;
    margin-right: 0em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.figure.align-left {
    float: left;
    margin-top: 0em;
    margin-right: 1em;
    margin-left: 0em;
    margin-bottom: 1em;
}

img.align-center, .figure.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7em;
    margin-bottom: 1.5em;
}

.highlighttable pre {
    /* Removes bootstrap default margin-bottom */
    margin-bottom: 0px;
}

.highlighttable {
    /* Adds them margin-bottom to highlightable instead of <pre> */
    margin-bottom: 11px;
}

.highlighttable .code {
    width: 100%;
}

#categories ul, #tags ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.docutils.footnote td.label {
    display: table-cell;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    border-radius: inherit;
}

.categories-timestamp {
    color: #AAAAAA;
    font-size: 0.9em;
    margin-right: 10px;
}

/* Sidebar Tweaks */
#sidebar-brand {
    text-align: center;
}

#sidebar-content {
    text-align: right;
}

#tags {
    margin-right: 15px;
}

.tagcloud li {
    padding: 0px;
}

#categories .list-group-item, #links .list-group-item{
    padding-top: 4px;
    padding-bottom: 4px;
}

#site-links-side {
    margin-left: 15px;
    margin-right: 15px;
}

#site-links-side li {
    padding: 0 0 5px;
}

/* Custom Text tweaks */
.strike {
    text-decoration: line-through;
}

dd {
    margin-left: 20px;
}

tt {
    background-color: #F9F2F4;
    border-radius: 4px;
    color: #C7254E;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* Article Styling */
article {
    /*border-bottom: 1px solid #EAEAEA;*/
    margin-bottom: 120px;
}

article h1 {
    margin-top: 0px;
}

.page-header {
    margin-top: 0px;
    border-bottom: none;
}

.post-info {
    padding: 0px 15px;
}

#article-datetime i, #article-author i, #article-comment-count i, #article-category i {
    margin-right: 5px;
}
#article-author i, #article-comment-count i, #article-category i {
    margin-left: 15px;
}

#article-tags {
    display: block;
}

#more {
    padding-left: 10px;
}

#more i {
    padding-left: 5px;
    margin-right: 5px;
}

/* Others */
.entry-content a, .entry-content a:hover {
    color: #3498DB;
}

.social-nav-link {
    margin-right: 5px;
}

#all-tags {
    text-align: justify;
}

#all-tags li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 2px;
}

#tag-search {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 0px;
}

.table.docutils {
    border: 0px;

}

.table.docutils thead tr th, .table.docutils tbody tr td {
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
}
