{% if SOCIAL %}
    <h4><i class="fa fa-home fa-lg"></i>Social</h4>
    {% if SOCIAL_INLINE %}
        <div class="social-side">
            {% for name, link in SOCIAL %}
                <a href="{{ link }}"><i class="fa fa-{{ name|lower|replace('+','-plus') }}-square fa-2x"></i></a>
            {% endfor %}
        </div>
    {% else %}
        <ul class="list-group list-group-flush">
            {% for name, link in SOCIAL %}
                <li class="list-group-item"><a href="{{ link }}"><i
                        class="fa fa-{{ name|lower|replace('+','-plus') }}-square fa-lg"></i>{{ name }}
                </a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

