{% if TAGCLOUD_INLINE is not defined %}
    {% set TAGCLOUD_INLINE = True %}
{% endif %}

{% if TAGCLOUD_MAX is defined and TAGCLOUD_MAX >= 0 %}
    {% set TAGS = [] %}
    {% for tag in tag_cloud %}
        {% if loop.index <= TAGCLOUD_MAX %}
            {% do TAGS.append(tag) %}
        {% endif %}
    {% endfor %}
    {% set tag_cloud = TAGS %}
{% endif %}

{% if TAGCLOUD_INLINE %}
    {% set TAGS = tag_cloud | sort(attribute='0') %}
{% else %}
    {% set TAGS = tag_cloud | sort(attribute='1') %}
{% endif %}

{% if DISPLAY_TAGS_ON_SIDEBAR %}
    <a href="{{ SITEURL }}/{{ TAGS_URL }}"><h4>Tags  <i class="fa fa-tags fa-lg"></i></h4></a>
    <ul class="list-group list-group-flush {% if TAGCLOUD_INLINE %}list-inline{% endif %} tagcloud">
    {% for tag in TAGS %}
        <li class="list-group-item tag-{{ tag.1 }}">
            <a href="{{ SITEURL }}/{{ tag.0.url }}">
                {{ tag.0|lower }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

